<div class="container">
  <div class="header mb-3">
    <span class="fs-4">{{ 'CLASSROOM.CREATE_CLASS.HEADER'|translate }}</span>
  </div>
  <form [formGroup]="createClassForm">
    <div class="picture text-center mb-3">
      <img (click)="fileUpload.click()" [ngSrc]="urlImage ? urlImage:'/assets/img/gallery/hero-header.png'" alt="Test" class="image p-2" height="250"
           width="250">
    </div>
    <div class="d-none">
      <input #fileUpload (change)="uploadImage($event)" accept="image/*" type="file">
    </div>
    <div class="d-flex justify-content-center">
      <div class="w-lg-75 w-100">
        <div class="classroom-name mb-3 form-floating">
          <input class="form-control" formControlName="name" id="floatingName" maxlength="255" minlength="2" placeholder="">
          <label for="floatingName">{{ 'CLASSROOM.CREATE_CLASS.NAME.LABEL'|translate }}</label>
          <div *ngIf="!createClassForm.get('name')?.valid && createClassForm.get('name')?.touched" class="mt-1">
            <span *ngIf="createClassForm.get('name')?.errors?.['required']"
                  style="color: red;">{{ 'CLASSROOM.CREATE_CLASS.NAME.ERROR.REQUIRED'|translate }}</span>
          </div>
        </div>
        <div class="classroom-description mb-3 form-floating">
          <textarea class="form-control" formControlName="description" id="floatingDescription" placeholder="" rows="2"></textarea>
          <label for="floatingDescription">{{ 'CLASSROOM.CREATE_CLASS.DESCRIPTION.LABEL'|translate }}</label>
          <div *ngIf="!createClassForm.get('description')?.valid && createClassForm.get('description')?.touched" class="mt-1">
              <span *ngIf="createClassForm.get('description')?.errors?.['required']" style="color: red;">{{
                  'CLASSROOM.CREATE_CLASS.DESCRIPTION.ERROR.REQUIRED'|translate
                }}</span>
          </div>
        </div>
        <div class="classroom-description mb-3 form-floating">
          <input class="form-control" formControlName="standardPoint" id="floatingPoint" max="200" min="10" placeholder="">
          <label for="floatingPoint">{{ 'CLASSROOM.CREATE_CLASS.STANDARD_POINT.LABEL'|translate }}</label>
          <div *ngIf="!createClassForm.get('standardPoint')?.valid && createClassForm.get('standardPoint')?.touched" class="mt-1">
              <span *ngIf="createClassForm.get('standardPoint')?.errors?.['required']" style="color: red;">{{
                  'CLASSROOM.CREATE_CLASS.STANDARD_POINT.ERROR.REQUIRED'|translate
                }}</span>
            <span *ngIf="createClassForm.get('standardPoint')?.errors?.['min']" style="color: red;">{{
                'CLASSROOM.CREATE_CLASS.STANDARD_POINT.ERROR.MIN'|translate
              }}</span>
            <span *ngIf="createClassForm.get('standardPoint')?.errors?.['max']" style="color: red;">{{
                'CLASSROOM.CREATE_CLASS.STANDARD_POINT.ERROR.MAX'|translate
              }}</span>
          </div>
        </div>
        <div class="row mb-3 g-1 d-flex justify-content-between align-items-center">
          <div class="form-check">
            <input class="form-check-input" formControlName="isPublic" id="flexRadioDefault1" type="radio"
                   value="1">
            <label class="form-check-label" for="flexRadioDefault1">
              {{ 'CLASSROOM.CREATE_CLASS.IS_PUBLIC.TRUE'|translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" formControlName="isPublic" id="flexRadioDefault2" type="radio"
                   value="0">
            <label class="form-check-label" for="flexRadioDefault2">
              {{ 'CLASSROOM.CREATE_CLASS.IS_PUBLIC.FALSE'|translate }}
            </label>
          </div>
          <div class="create-class d-flex align-items-center justify-content-between mb-3 mt-3">
            <button (click)="onCreateClass()" class="btn btn-app"><span>{{ 'CLASSROOM.CREATE_CLASS.CREATE_CLASSROOM'|translate }}</span></button>
          </div>
        </div>
      </div>
    </div>


  </form>
</div>
