<div class="modal-header">
  <h4 class="modal-title">Sửa câu hỏi</h4>
  <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button"></button>
</div>

<div class="modal-body">
  <form [formGroup]="editQuestionForm">
    <div class="form-group mb-3">
      <div [ngSwitch]="editQuestionForm.get('question_type_id')?.value">
        <div *ngSwitchCase="'fitb'">
          <span class="">Loại câu hỏi: Điền vào chỗ trống</span>
          <div class="form-group mb-3">
            <label class="form-label">Câu hỏi:</label>
            <input class="form-control mb-2" formControlName="title" type="text">
            <span *ngIf="!editQuestionForm.get('title')?.valid && editQuestionForm.get('title')?.touched"
                  class="text-danger">
                     <span *ngIf="editQuestionForm.get('title')?.errors?.['required']">Vui lòng nhập câu hỏi!</span>
                  </span>
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Trọng số:</label>
            <input class="form-control mb-2" formControlName="weighted" max="3" min="1" type="number">
            <span *ngIf="!editQuestionForm.get('weighted')?.valid && editQuestionForm.get('weighted')?.touched"
                  class="text-danger">
                     <span *ngIf="editQuestionForm.get('weighted')?.errors?.['required']">Vui lòng nhập trọng số điểm!</span>
                     <span *ngIf="editQuestionForm.get('weighted')?.errors?.['pattern']">Vui lòng nhập số!</span>
                  </span>
          </div>
          <div class="form-group mb-3" formArrayName="answers">
            <label class="form-label">Đáp án:</label>
            <div *ngFor="let answer of answerControls; let i = index" [formGroupName]="i">
              <input class="form-control mb-2" formControlName="value" type="text">
              <span *ngIf="!answer.get('value')?.valid && answer.get('value')?.touched"
                    class="text-danger">
                     <span *ngIf="answer.get('value')?.errors?.['required']">Vui lòng nhập câu trả lời đúng!</span>
                  </span>
            </div>
          </div>
          <button (click)="onAddNewFITBAnswer()" class="btn btn-app mb-3">
            <i-bs height="20"
                  name="plus-square-dotted"
                  width="20">
            </i-bs>
            Thêm đáp án
          </button>
        </div>
        <div *ngSwitchCase="'mca'">
          <span class="">Loại câu hỏi: Nhiều đáp án đúng</span>
          <div class="form-group mb-3">
            <label class="form-label">Câu hỏi:</label>
            <input class="form-control mb-2" formControlName="title" type="text">
            <span *ngIf="!editQuestionForm.get('title')?.valid && editQuestionForm.get('title')?.touched"
                  class="text-danger">
                     <span *ngIf="editQuestionForm.get('title')?.errors?.['required']">Vui lòng nhập câu hỏi!</span>
                  </span>
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Trọng số:</label>
            <input class="form-control mb-2" formControlName="weighted" type="number">
            <span *ngIf="!editQuestionForm.get('weighted')?.valid && editQuestionForm.get('weighted')?.touched"
                  class="text-danger">
                     <span *ngIf="editQuestionForm.get('weighted')?.errors?.['required']">Vui lòng nhập trọng số điểm!</span>
                     <span *ngIf="editQuestionForm.get('weighted')?.errors?.['pattern']">Vui lòng nhập số!</span>
                  </span>
          </div>
          <div class="form-group mb-3" formArrayName="answers">
            <label class="form-label">Đáp án:</label>
            <div *ngFor="let answer of answerControls; let i = index" [formGroupName]="i" class="form-check">
              <input class="form-check-input" formControlName="is_correct" id="answer{{i}}" type="checkbox" value="true">
              <input class="form-control mb-2" formControlName="value" type="text">
              <span
                *ngIf="!answer.get('value')?.valid && answer.get('value')?.touched"
                class="text-danger">
                     <span *ngIf="answer.get('value')?.errors?.['required']">Vui lòng nhập câu trả lời!</span>
                  </span>
            </div>
          </div>
        </div>
        <div *ngSwitchDefault>
          <span class="">Loại câu hỏi: Một đáp án đúng</span>
          <div class="form-group mb-3">
            <label class="form-label">Câu hỏi:</label>
            <input class="form-control mb-2" formControlName="title" type="text">
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Trọng số:</label>
            <input class="form-control mb-2" formControlName="weighted" type="number">
          </div>
          <div class="form-group mb-3" formArrayName="answers">
            <label class="form-label">Đáp án:</label>
            <div class="mb-3" formGroupName="0">
              <label class="form-label">Đáp án sai:</label>
              <input class="form-control mb-2" formControlName="value" type="text">
              <!--                     Nó bị gạch chân thì kệ nó nha, đừng sửa -->
              <span
                *ngIf="!editQuestionForm.get('answers')?.get([0, 'value'])?.valid && editQuestionForm.get('answers')?.get([0, 'value'])?.touched"
                class="text-danger">
                    <span *ngIf="editQuestionForm.get('answers')?.get([0, 'value'])?.errors?.['required']">Vui lòng nhập câu trả lời!</span>
                                      </span>
            </div>
            <div class="mb-3" formGroupName="1">
              <label class="form-label">Đáp án sai:</label>
              <input class="form-control mb-2" formControlName="value" type="text">
              <!--                     Nó bị gạch chân thì kệ nó nha, đừng sửa -->
              <span
                *ngIf="!editQuestionForm.get('answers')?.get([1, 'value'])?.valid && editQuestionForm.get('answers')?.get([1, 'value'])?.touched"
                class="text-danger">
                    <span *ngIf="editQuestionForm.get('answers')?.get([1, 'value'])?.errors?.['required']">Vui lòng nhập câu trả lời!</span>
                                      </span>
            </div>
            <div class="mb-3" formGroupName="2">
              <label class="form-label">Đáp án sai:</label>
              <input class="form-control mb-2" formControlName="value" type="text">
              <!--                     Nó bị gạch chân thì kệ nó nha, đừng sửa -->
              <span
                *ngIf="!editQuestionForm.get('answers')?.get([2, 'value'])?.valid && editQuestionForm.get('answers')?.get([2, 'value'])?.touched"
                class="text-danger">
                    <span *ngIf="editQuestionForm.get('answers')?.get([2, 'value'])?.errors?.['required']">Vui lòng nhập câu trả lời!</span>
                                      </span>
            </div>
            <div class="mb-3" formGroupName="3">
              <label class="form-label">Đáp án đúng:</label>
              <input class="form-control mb-2" formControlName="value" type="text">
              <!--                     Nó bị gạch chân thì kệ nó nha, đừng sửa -->
              <span
                *ngIf="!editQuestionForm.get('answers')?.get([3, 'value'])?.valid && editQuestionForm.get('answers')?.get([3, 'value'])?.touched"
                class="text-danger">
                    <span *ngIf="editQuestionForm.get('answers')?.get([3, 'value'])?.errors?.['required']">Vui lòng nhập câu trả lời!</span>
                                      </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button (click)="openConfirmEdit()" class="btn btn-app" type="submit">Save</button>
  <button (click)="activeModal.dismiss('Cancel click')" class="btn btn-app-warning" type="button">Cancel</button>
  <button #closeEditModalButton (click)="activeModal.dismiss('Close click')" class="btn btn-app" type="button">Close</button>
</div>


