<div class="bg-footer">
	<!-- ============================================-->
	<!-- <section> begin ============================-->
	<section class="pt-5">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-lg-6 mb-4 order-0 order-sm-0"><a class="text-decoration-none" href="#"><img
						ngSrc="assets/img/gallery/footer-logo.png" height="51" width="249" alt=""/></a>
					<p class="text-light my-4">
						<fa-icon [icon]="['fas','map-marker-alt']" class=" me-3"></fa-icon>
						<span class="text-light">Tòa nhà QTSC9, Công viên phần mềm Quang Trung, Quận 12</span>
					</p>
					<p class="text-light">
						<fa-icon [icon]="['fas','envelope']" class=" me-3"></fa-icon>
						<a class="text-light" href="mailto:vctung@outlook.com">easylearning@codeaz.edu.vn</a>
					</p>
					<p class="text-light">
						<fa-icon [icon]="['fas','phone-alt']" class=" me-3"></fa-icon>
						<a class="text-light" href="tel:1-800-800-2299">0839701920 (Support)</a></p>
				</div>
				<div class="col-6 col-sm-4 col-lg-2 mb-3 order-2 order-sm-1">
					<h5 class="lh-lg fw-bold mb-4 text-light font-sans-serif">Community </h5>
					<ul class="list-unstyled mb-md-4 mb-lg-0">
						<li class="lh-lg"><a class="text-200" href="#!">Learners</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Partners</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Developers</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Beta Testers</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Translators</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Blog</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Tech Blog</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Teaching Center</a></li>
					</ul>
				</div>
				<div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
					<h5 class="lh-lg fw-bold text-light mb-4 font-sans-serif">Informations</h5>
					<ul class="list-unstyled mb-md-4 mb-lg-0">
						<li class="lh-lg"><a class="text-200" href="#!">About</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Pricing</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Blog</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Careers</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Contact</a></li>
					</ul>
				</div>
				<div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
					<h5 class="lh-lg fw-bold text-light mb-4 font-sans-serif"> More</h5>
					<ul class="list-unstyled mb-md-4 mb-lg-0">
						<li class="lh-lg"><a class="text-200" href="#!">Press</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Investors</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Terms</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Privacy</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Help</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Accessibility</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Contact</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Articles</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Directory</a></li>
						<li class="lh-lg"><a class="text-200" href="#!">Affiliates</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end of .container-->

	</section>
	<!-- <section> close ============================-->
	<!-- ============================================-->


	<section class="py-0">
		<div class="container bg-primary">
			<div class="row justify-content-center py-4">
				<div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
					<p class="fs--1 my-2 fw-bold text-white">All rights Reserved &copy; Brute Force, 2024</p>
				</div>
			</div>
		</div>
	</section>
</div>