<div class="bg-footer">
  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-6 mb-4 order-0 order-sm-0"><a [routerLink]="['/']" class="text-decoration-none"><img
          alt="" height="51" ngSrc="assets/img/gallery/footer-logo.png" width="249"/></a>
          <p class="text-light my-4">
            <fa-icon [icon]="['fas','map-marker-alt']" class=" me-3"></fa-icon>
            <span class="text-light">{{ 'COMMONS.ADDRESS'|translate }}</span>
          </p>
          <p class="text-light">
            <fa-icon [icon]="['fas','envelope']" class=" me-3"></fa-icon>
            <a class="text-light" href="mailto:{{ 'COMMONS.EMAIL'|translate }}">{{ 'COMMONS.EMAIL'|translate }}</a>
          </p>
          <p class="text-light">
            <fa-icon [icon]="['fas','phone-alt']" class=" me-3"></fa-icon>
            <a class="text-light" href="tel:0839701920">0839701920</a></p>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 mb-3 order-2 order-sm-1">
          <h5 class="lh-lg fw-bold mb-4 text-light font-sans-serif">{{ 'FOOTER.COMMUNITY'|translate }}</h5>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a [routerLink]="['/']" class="text-200">{{ 'FOOTER.LEARNERS'|translate }}</a></li>
            <li class="lh-lg"><a [routerLink]="['/']" class="text-200">{{ 'FOOTER.PARTNERS'|translate }}</a></li>
            <li class="lh-lg"><a [routerLink]="['/']" class="text-200">{{ 'FOOTER.DEVELOPERS'|translate }}</a></li>
            <li class="lh-lg"><a [routerLink]="['/']" class="text-200">{{ 'FOOTER.BETA_TESTERS'|translate }}</a></li>
            <li class="lh-lg"><a [routerLink]="['/']" class="text-200">{{ 'FOOTER.TRANSLATORS'|translate }}</a></li>
          </ul>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
          <h5 class="lh-lg fw-bold text-light mb-4 font-sans-serif">{{ 'FOOTER.INFORMATION'|translate }}</h5>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a [routerLink]="['/']" class="text-200">{{ 'FOOTER.ABOUT'|translate }}</a></li>
            <li class="lh-lg"><a [routerLink]="['/']" class="text-200">{{ 'FOOTER.CONTACT'|translate }}</a></li>
          </ul>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
          <h5 class="lh-lg fw-bold text-light mb-4 font-sans-serif"> {{ 'FOOTER.MORE'|translate }}</h5>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a [routerLink]="['/']" class="text-200">{{ 'FOOTER.TERM'|translate }}</a></li>
            <li class="lh-lg"><a [routerLink]="['/']" class="text-200">{{ 'FOOTER.PRIVACY'|translate }}</a></li>
            <li class="lh-lg"><a [routerLink]="['/']" class="text-200">{{ 'FOOTER.HELP'|translate }}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <section class="py-0">
    <div class="container bg-primary">
      <div class="row justify-content-center py-4">
        <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
          <p class="fs--1 my-2 fw-bold text-white">All rights Reserved &copy; Brute Force, 2024</p>
        </div>
      </div>
    </div>
  </section>
</div>
