.bg-footer{
    background-color: #0F69F6;
}

a:hover{
    text-decoration: underline;
}

.bg-primary{
    background-color: #0F69F6 !important;
}
.bg-primary{
    background-color: #0F69F6 !important;
}