<div class="container pt-5 p-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <img src="assets/img/commons/sign_in.jpg" alt="Main IMG" class="img-fluid">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 pt-5">
            <form action="" method="post" (submit)="onSubmit()" [formGroup]="resetPasswordForm">
                <h2 class="main-text pt-5 mt-5">{{'FORGET_PASSWORD.TITLE'|translate}}</h2>
                <input type="email" formControlName="email" placeholder="{{'FORGET_PASSWORD.EMAIL.PLACEHOLDER'|translate}}"
                       class="form-control main-input mt-5" >
                <div *ngIf="!resetPasswordForm.get('email')?.valid && resetPasswordForm.get('email')?.touched">
                    <div *ngIf="resetPasswordForm.get('email')?.errors?.['required']"
                         class="text-danger"><small>{{'FORGET_PASSWORD.EMAIL.ERROR.REQUIRED'|translate}}</small></div>
                    <div *ngIf="resetPasswordForm.get('email')?.errors?.['email']"
                         class="text-danger"><small>{{'FORGET_PASSWORD.EMAIL.ERROR.EMAIL'|translate}}</small></div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-sz-primary mt-5">{{'FORGET_PASSWORD.reset_password'|translate}}</button>
                    </div>
                    <div class="col-5 pt-5">
                        <a [routerLink]="['/login']" class="back-to-login">{{'COMMONS.LOGIN'|translate}}</a>
                    </div>
                </div>
        </form>
    </div>
</div>
