<div class="container pt-5 p-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <img src="/assets/img/gallery/main.png" alt="Main IMG" class="img-fluid">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 pt-5">
            <form action="" method="post">
                <h2 class="main-text pt-5 mt-5">Quên mật khẩu</h2>
                <input type="e-mail" placeholder="Nhập địa chỉ mail" class="form-control main-input mt-5">
                <small class="d-block text-right mt-2">Nhập địa chỉ mail</small>
                <!-- button lấy OTP kết bên input -->
                <button class="btn btn-primary mt-5">Lấy mã OTP</button>
                <!-- hiển thị input nhập OTP -->
                <input type="text" placeholder="Nhập mã OTP" class="form-control main-input mt-5">
                <small class="d-block text-right mt-2">Mã OTP sẽ hết hạn sau 5 phút</small>
                <input type="text" placeholder="Nhập mật khẩu mới" class="form-control main-input mt-5">
                <small class="d-block text-right mt-2">Nhập mật khẩu mới</small>
                <input type="text" placeholder="Nhập lại mật khẩu mới" class="form-control main-input mt-5">
                <small class="d-block text-right mt-2">Nhập lại mật khẩu mới</small>
                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-sz-primary mt-5">Đặt lại mật khẩu</button>
                    </div>
                    <div class="col-5 pt-5">
                        <a href="#" class="back-to-login">Đăng nhập</a>
                    </div>
                </div>
        </form>
    </div>
</div>