<div class="container">
    <section class="content">
        <h1 class="text-center">Danh sách lớp học</h1>
        <div class="container-fluid">
            <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-12">
                            <div class="card card-widget widget-user-2">
                                <a href="ds_lop/394">
                                    <div class="widget-user-header bg-info">
                                        <h5 class="widget-user-desc">Tiếng Anh 1.1</h5>
                                        <h6 class="widget-user-desc">20/01/2024 - 20/03/2024</h6>
                                    </div>
                                </a>
                                <div class="card-border p-0">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" class="nav-link">
                                                Mã lớp <span title="Click to copy" id="code_394"
                                                    onclick="copyToClipboard(this)"
                                                    class="float-right badge bg-primary">VK5Y8T</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" class="nav-link">
                                                Số học viên <span class="float-right badge bg-info">0</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link">
                                                Báo cáo thống kê </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link">
                                                Thảo luận <span class="float-right badge bg-success">0</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">

                                        </li>
                                    </ul>
                                    <div style="text-align: center;">
                                        <a class="btn btn-sm btn-primary mb-1 mt-1" href="">Sửa</a>
                                        <button type="button" class="btn btn-sm btn-danger mb-1 mt-1"
                                            onclick="_ConfirmDelete()">Xóa</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="card card-widget widget-user-2">
                                <a href="ds_lop/393">
                                    <div class="widget-user-header bg-info">

                                        <h5 class="widget-user-desc">Tiếng Anh 1.2</h5>
                                        <h6 class="widget-user-desc">17/01/2024 - 03/02/2024</h6>
                                    </div>
                                </a>
                                <div class="card-border p-0">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" class="nav-link">
                                                Mã lớp <span title="Click to copy" id="code_393"
                                                    onclick="copyToClipboard(this)"
                                                    class="float-right badge bg-primary">RI1VS6</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" class="nav-link">
                                                Số học viên <span class="float-right badge bg-info">2</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link">
                                                Báo cáo thống kê </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link">
                                                Thảo luận <span class="float-right badge bg-success">0</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">

                                        </li>
                                    </ul>
                                    <div style="text-align: center;">
                                        <a class="btn btn-sm btn-primary mb-1 mt-1" href="">Sửa</a>
                                        <button type="button" class="btn btn-sm btn-danger mb-1 mt-1"
                                            onclick="_ConfirmDelete()">Xóa</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>
</div>