/* style.css */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

/*.container {*/
/*  max-width: 1000px;*/
/*  margin: 0 auto;*/
/*  padding: 20px;*/
/*  background-color: #fff;*/
/*}*/

.hocvien {
  padding: 10px;
}

header {
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

p {
  margin-bottom: 5px;
  color: #666;
}

.classroom-info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  gap: 10px;
}

/*.image {*/
/*  flex: 0 0 200px;*/
/*  width: 200px;*/
/*  height: 200px;*/
/*  margin-right: 10px; !* Bỏ comment nếu sử dụng flexbox layout *!*/
/*}*/

.image {
  border: 3px dashed #1565FF;
  border-radius: 5px;
  object-fit: cover;
}

/*img.image {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  border-radius: 5px;*/
/*  object-fit: cover;*/
/*}*/

.details {
  flex: 1;
  padding: 15px;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
}

.students tr:hover {
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  .classroom-info {
    gap: 5px;
  }

  .image {
    width: 150px;
  }
}


