<div class="container">
  <section class="content">
    <div class="container-fluid">
      <h1 class="text-center">Chi tiết lớp học</h1>
      <p>Lớp học: {{ classroom.name }}</p>
      <p>Giáo viên: {{ classroom.creator.fullName }}</p>
      <p>Ngày tạo: {{ classroom.createdDate | date:'dd/MM/Y' }}</p>
      <p>Mô tả: {{ classroom.description }}</p>
      <hr>

      <div class="card card-primary card-tabs">
        <div class="card-header p-0 pt-1">
          <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation" *ngIf="isCreator">
              <a aria-controls="ex1-tabs-1" aria-selected="true" class="nav-link active" data-bs-toggle="tab"
                href="#ex1-tabs-1" id="ex1-tab-1" role="tab">Bài học</a>
            </li>
            <li class="nav-item" role="presentation">
              <a aria-controls="ex1-tabs-2" aria-selected="false" class="nav-link" data-bs-toggle="tab"
                href="#ex1-tabs-2" id="ex1-tab-2" role="tab">Bài test</a>
            </li>
            <li class="nav-item" role="presentation">
              <a aria-controls="ex1-tabs-3" aria-selected="false" class="nav-link" data-bs-toggle="tab"
                href="#ex1-tabs-3" id="ex1-tab-3" role="tab">Học viên</a>
            </li>
          </ul>
          <div class="tab-content" id="ex1-content">
            <div aria-labelledby="ex1-tab-1" class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" *ngIf="isCreator">
              <br>
              <h5 *ngFor="let lesson of classroom.lessons; let i = index ">
                <a aria-controls="baigiang-2662-content" aria-expanded="false" data-toggle="lesson" role="button">
                  <span class="badge text-danger"> {{ i + 1 }}.</span>
                  <a [routerLink]="['lesson', lesson.id]" class="text-info">{{ lesson.name }}</a>
                </a>
                  <button (click)="onDeleteLesson(lesson.id)" class="btn btn-danger float-end">Xóa</button>
                  <button class="btn btn-primary float-end">Sửa</button>
              </h5>
            </div>
            <div aria-labelledby="ex1-tab-2" class="tab-pane fade" id="ex1-tabs-2" role="tabpanel">
              <h5 *ngFor="let test of classroom.tests; let i = index ">
                <a aria-controls="baigiang-2662-content" aria-expanded="false" data-toggle="lesson" role="button">
                  <span class="badge text-danger"> {{ i + 1 }}.</span>
                  <a [routerLink]="['test', test.id]" class="text-info">{{ test.name }}</a>
                </a>
              </h5>
            </div>
            <div aria-labelledby="ex1-tab-3" class="tab-pane fade hocvien" id="ex1-tabs-3" role="tabpanel">
              <button (click)="openModal()" class="btn btn-primary float-end">Thêm học viên</button>
              <br>
              <!-- table list học viên -->
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>Tên học viên</th>
                    <th>Điểm</th>
                    <th *ngIf="isCreator">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of classroom.students; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ student.user.user_info.fullName }}</td>
                    <td>
                        <input type="number" class="form-control" [(ngModel)]="student.point" min="0">
                    </td>
                    <td *ngIf="isCreator">
                        <button class="btn btn-primary" (click)="updatePoint(student.id, student.point)">Lưu</button>
                        <button class="btn btn-danger" (click) = "deleteMember(student.id)">Xóa</button>
                    </td>                    
                </tr>                
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<ng-template #modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Thêm học viên</h4>
    <button (click)="d('Cross click')" aria-label="Close" class="btn-close" type="button"></button>
  </div>
  <div class="modal-body">
    <div class="form-group mb-2 row">
      <label class="col-sm-6 col-form-label">Mail học viên: </label>
      <div class="">
        <textarea [(ngModel)]="studentEmail" class="form-control" rows="5"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="d('Close click')" class="btn btn-secondary" type="button">Đóng</button>
    <button (click)="inviteStudents()" class="btn btn-primary" type="button">Mời</button>
  </div>
</ng-template>