<div class="container">
  <div class="title mt-4">
    <p class="fw-semi-bold fs-3 "> {{ "lesson.lesson-learn.title" | translate }} (10)</p>
  </div>
  <div class="questions row">
    <app-lesson-learn-item class="col-12 col-lg-6 mt-3">
    </app-lesson-learn-item>
    <app-lesson-learn-item class="col-12 col-lg-6 mt-3" nameCode="fitb"></app-lesson-learn-item>
    <app-lesson-learn-item class="col-12 col-lg-6 mt-3"></app-lesson-learn-item>
    <app-lesson-learn-item class="col-12 col-lg-6 mt-3"></app-lesson-learn-item>
    <app-lesson-learn-item class="col-12 col-lg-6 mt-3"></app-lesson-learn-item>
    <app-lesson-learn-item class="col-12 col-lg-6 mt-3"></app-lesson-learn-item>


  </div>
</div>


