.lesson_item img{
    height: 200px;
}

.btn-app{
    border-radius: 5px !important;
}

.bg-coral{
    background-color: #0F69F6;
}

a{
    transition: 0.5s ease-in-out;
}

a:hover{
    color: #D3D3D3;
    text-decoration: none;

}