.lesson_item img{
    height: 200px;
}

.btn-app{
    border-radius: 5px !important;
}

.bg-coral{
    background-color: coral;
}

a{
    transition: 0.5s ease-in-out;
}

a:hover{
    color: black;

}