<div class="container mt-4">
  <h2>Tạo bài học mới</h2>
  <form #lessonForm="ngForm" (ngSubmit)="onCreateLesson()">
    <div class="form-group">
      <label for="courseName">Tên bài học:</label>
      <div *ngIf="nameControl.invalid && nameControl.touched" class="text-danger"><small>*Tên bài học không được để
        trống</small>
    </div>
      <input type="text" class="form-control" id="courseName" placeholder="Tên bài học" [(ngModel)]="name" name="name"
        #nameControl="ngModel">
    </div>
    <div class="form-group">
      <label for="description">Mô tả:</label>
      <textarea class="form-control" id="description" rows="3" placeholder="Nhập mô tả" [(ngModel)]="description"
        name="description"></textarea>
    </div>
    <div class="form-group p-2">
      <label class="form_label" for="">Ảnh bìa bài học: </label>
      <input class="form-control" type="file" (change)="onFileSelected($event)" name="image_id" required>
    </div>
    <button type="submit" class="btn btn-success m-3 m-3">Tạo bài học</button>
  </form>
</div>