<div class="container mt-4">
  <div *ngIf="classRoomId" class="navigation">
    <a [routerLink]="['/classroom/list-classroom']" class="class-navigation">Danh sách lớp học</a> /
    <a [routerLink]="['/classroom',classRoomId]" class="class-navigation">Lớp học</a> /
    <span class="class-current-page">{{ 'Tạo bài học' }}</span>
  </div>
  <h2>Tạo bài học mới</h2>
  <form #lessonForm="ngForm" (ngSubmit)="onCreateLesson()">
    <div class="form-group">
      <label for="courseName">{{ 'LESSON.CREATE_LESSON.NAME.LABEL'|translate }}:</label>
      <div *ngIf="nameControl.invalid && nameControl.touched" class="text-danger">
        <small>{{ 'LESSON.CREATE_LESSON.NAME.ERROR.REQUIRED'|translate }}</small>
      </div>
      <input #nameControl="ngModel" [(ngModel)]="name" class="form-control" id="courseName" name="name"
             placeholder="{{'LESSON.CREATE_LESSON.NAME.PLACEHOLDER'|translate}}"
             type="text">
    </div>
    <div class="form-group">
      <label for="description">{{ 'LESSON.CREATE_LESSON.DESCRIPTION.LABEL'|translate }}:</label>
      <textarea [(ngModel)]="description" class="form-control" id="description" name="description"
                placeholder="{{'LESSON.CREATE_LESSON.DESCRIPTION.PLACEHOLDER'|translate}}"
                rows="3"></textarea>
    </div>
    <div class="form-group p-2">
      <label class="form_label" for="">{{ 'LESSON.CREATE_LESSON.PICTURE'|translate }}: </label>
      <input (change)="onFileSelected($event)" class="form-control" name="image_id" required type="file">
    </div>
    <!-- import file excel câu hỏi onChange -->
    <div class="form-group p-2">
      <label class="form_label" for="">{{ 'LESSON.CREATE_LESSON.QUESTIONS_FILE'|translate }}: </label>
      <input (change)="onFileSelectedQuestion($event)" class="form-control" name="file" required type="file">
    </div>
    <div class="mb-3 d-flex flex-column align-items-center">
      <div *ngFor="let question of listQuestionImport; let i = index">
        <app-demo-fitb-question *ngIf="question.question_type_id === environment.FITB_ID" [index]="i" [question]="question"
                                [total]="listQuestionImport.length"></app-demo-fitb-question>
        <app-demo-mca-question *ngIf="question.question_type_id === environment.MCA_ID" [index]="i" [question]="question"
                               [total]="listQuestionImport.length"></app-demo-mca-question>
        <app-demo-sca-question *ngIf="question.question_type_id === environment.SCA_ID" [index]="i" [question]="question"
                               [total]="listQuestionImport.length"></app-demo-sca-question>
      </div>
    </div>
    <button class="btn btn-success m-3 m-3" type="submit">{{ 'LESSON.CREATE_LESSON.CREATE_LESSON'|translate }}</button>
  </form>
</div>
