<button (click)="openEdit(modal)" class="btn btn-app ms-3">
  <fa-icon [icon]="['fas','pen-to-square']"></fa-icon>
</button>

<ng-template #modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Chỉnh sửa bài học</h4>
    <button (click)="d('Cross click')" aria-label="Close" class="btn-close" type="button"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="updateLessonForm">
      <div class="form-floating mb-3">
        <input class="form-control" formControlName="title" id="floatingName" placeholder="" type="text"> <label
        for="floatingName">Tên bài học</label>
      </div>
      <div class="mb-3">
        <label class="form-label" for="inputImage">Ảnh</label>
        <input #fileImage accept="image/*" class="form-control" id="inputImage" placeholder="Ảnh" type="file">
      </div>
      <div class="form-floating mb-3">
				<textarea class="form-control" formControlName="description" id="floatingDescription" placeholder="" rows="30"
                  type="text"></textarea> <label for="floatingDescription">Mô tả</label>
      </div>
    </form>
    <app-add-questions></app-add-questions>
    <app-edit-questions></app-edit-questions>
  </div>
  <div class="modal-footer">
    <button (click)="openConfirm( fileImage)" class="btn btn-app">Save</button>
    <button (click)="onDelete()" class="btn btn-app-warning">Delete</button>
    <button (click)="d('Close click')" class="btn btn-app" type="button">Close</button>
  </div>
</ng-template>

