<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Lesson library</h1>
            <div class="menu">
                <button class="menu-item" data-tab="all">All</button>
                <button class="menu-item" data-tab="my-lessons">My Lessons</button>
                <button class="menu-item" data-tab="following-lessons">Following Lessons</button>
                <button class="menu-item" data-tab="history-lessons">History Lessons</button>
              </div>              
        </div>
    </div>
    <div class="row lesson-container">
        <div class="col-12 col-md-3">
            <div class="lesson">
                <div class="lesson-logo">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5e77c24d3a9a8f6e99fd785106d14959fbc34c8553345c3d2c7ac7168414367a?apiKey=34b3b6fab35141ce80dd74e39dd64dda&" class="img-lesson" />
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/0dab2f73f2e7462a60f6c4dea666fdd0d0eaf25ee1d1c9afb874bd2cbebe4443?apiKey=34b3b6fab35141ce80dd74e39dd64dda&" class="img-lesson-2" />
                </div>
                <div class="lesson-title">Past Simple</div>
                <div class="lesson-comments">(42 Comments)</div>
                <div class="lesson-details">
                    <div class="lesson-persons">2,500 persons</div>
                    <button class="lesson-details-button">Details</button>
                </div>
            </div>
        </div>
    </div>
</div>
