<!-- <p>add-questions works!</p> -->
<!-- <button class="btn btn-app ms-3" (click)="openEdit(modal)"> -->
<!-- 	<fa-icon [icon]="['fas','plus']"></fa-icon> Thêm câu hỏi -->
<!-- </button> -->

<!-- <ng-template #modal let-c="close" let-d="dismiss"> -->
<!-- 	<div class="modal-header"> -->
<!-- 		<h4 class="modal-title">Thêm câu hỏi</h4> -->
<!-- 		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button> -->
<!-- 	</div> -->
<!-- 	<div class="modal-body"> -->
<!-- 		<form [formGroup]="updateLessonForm"> -->
<!-- 			<div class="form-floating mb-3"> -->
<!-- 				<input type="text" class="form-control" id="floatingName" placeholder="" formControlName="title"> <label -->
<!-- 					for="floatingName">Tên bài học</label> -->
<!-- 			</div> -->
<!-- 			<div class="mb-3"> -->
<!-- 				<label for="inputImage" class="form-label">Ảnh</label> -->
<!-- 				<input type="file" class="form-control" id="inputImage" placeholder="Ảnh" formControlName="image" #fileImage accept="image/*"> -->
<!-- 			</div> -->
<!-- 			<div class="form-floating mb-3"> -->
<!-- 				<textarea type="text" class="form-control" id="floatingDescription" placeholder="" formControlName="description" -->
<!-- 				          rows="30"></textarea> <label for="floatingDescription">Mô tả</label> -->
<!-- 			</div> -->
<!-- 		</form> -->
<!-- 	</div> -->
<!-- 	<div class="modal-footer"> -->
<!-- 		<button class="btn btn-app" (click)="onCreate()">Create</button> -->
<!-- 		<button type="button" class="btn btn-app" (click)="d('Close click')">Close</button> -->
<!-- 	</div> -->
<!-- </ng-template> -->