<div class="single-question pt-1 p-2 user-select-none">
  <div class="type ms-1 d-flex align-items-center">
    <i-bs height="16" name="check-square" width="16"></i-bs>
    <span [ngSwitch]="nameCode" class="ms-2 fw-semi-bold text-capitalize">
      <ng-template [ngSwitchCase]="'mca'">{{ "lesson.lesson-learn.lesson-learn-item.mca" | translate }}</ng-template>
      <ng-template [ngSwitchCase]="'fitb'">{{ "lesson.lesson-learn.lesson-learn-item.fitb" | translate }}</ng-template>
      <ng-template ngSwitchDefault>{{ "lesson.lesson-learn.lesson-learn-item.sca" | translate }}</ng-template>
    </span>
  </div>
  <div class="title ms-1 mt-2">
    <p>{{ "Đây là câu hỏi mẫu" | shortenText : 80 }}</p>
  </div>
  <div class="answer-title ms-1 mt-1 fw-semi-bold">
    <span>{{ "lesson.lesson-learn.lesson-learn-item.answer-title" | translate }}</span>
  </div>
  <!--   <ng-content></ng-content> -->
  <div [ngSwitch]="nameCode">
    <div *ngSwitchCase="'fitb'">
      <div class="answer mt-1 ms-1">
        <input *ngFor="let answer of answers" [ngModel]="answer" class="form-control mt-2" disabled readonly style="width: 90% !important"
               type="text">
      </div>
    </div>
    <div *ngSwitchDefault class="row">
      <div class="answer col-6 d-flex align-items-center mt-1">
        <i-bs *ngIf="!isCorrect" class="text-danger" name="x"></i-bs>
        <i-bs *ngIf="isCorrect" class="text-info" name="check"></i-bs>
        <span class="ms-1">{{ 'This is an answer!' | shortenText : 30 }}</span>
      </div>
      <div class="answer col-6 d-flex align-items-center mt-1">
        <i-bs *ngIf="!isCorrect" class="text-danger" name="x"></i-bs>
        <i-bs *ngIf="isCorrect" class="text-info" name="check"></i-bs>
        <span class="ms-1">{{ 'This is an answer!' | shortenText : 30 }}</span>
      </div>
      <div class="answer col-6 d-flex align-items-center mt-1">
        <i-bs *ngIf="!isCorrect" class="text-danger" name="x"></i-bs>
        <i-bs *ngIf="isCorrect" class="text-info" name="check"></i-bs>
        <span class="ms-1">{{ 'This is an answer!' | shortenText : 30 }}</span>
      </div>
      <div class="answer col-6 d-flex align-items-center mt-1">
        <i-bs *ngIf="!isCorrect" class="text-danger" name="x"></i-bs>
        <i-bs *ngIf="isCorrect" class="text-info" name="check"></i-bs>
        <span class="ms-1">{{ 'This is an answer!' | shortenText : 30 }}</span>
      </div>
    </div>
  </div>
</div>
