<!-- thanh toán thành công -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Thanh toán thành công!</h4>
        <p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi. Bạn có thể quay lại trang chủ để tiếp tục sử dụng dịch vụ.</p>
        <hr>
        <p class="mb-0">Chúc bạn một ngày tốt lành!</p>
      </div>
    </div>
  </div>
  
  <div class="row text-center">
    <div class="col-md-12">
      <a routerLink="/" class="btn btn-primary">Quay lại trang chủ</a>
    </div>
  </div>