<div class="container">
    <div class="invoice">
        <h1>Hoá đơn</h1>
        <table>
            <thead>
                <tr>
                    <th>Invoice</th>
                    <th>Customer</th>
                    <th>Date</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let invoice of invoices">
            <td>{{ invoice.invoiceNumber }}</td>
            <td>{{ invoice.customerName }}</td>
            <td>{{ invoice.date }}</td>
            <td>{{ invoice.totalAmount }}</td>
        </tr> -->
                <tr>
                    <td>INV-001</td>
                    <td>John Doe</td>
                    <td>2021-01-01</td>
                    <td>1000</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>