<!--  -->
<div class="card">
  <div (click)="onFlip()" [@flipState]="flip" [id]="0" class="card-inner">
    <div class="card-face card-face-front">
      <div class="card-body">
        <h2 class="card-title">{{ question.title }}</h2>
      </div>
    </div>
    <div class="card-face card-face-back">
      <div class="card-body">
        <h2 class="card-title mb-3 fw-semi-bold">{{ 'lesson.lesson_detail.flashcard.flashcard_item.title'|translate }}</h2>
        <span *ngFor="let answer of question.answers"><h2
          *ngIf="answer.is_correct" class="card-text text-center w-100 text-uppercase">{{ answer.value }}</h2></span>
      </div>
    </div>
  </div>
</div>
