<!--  -->
<div class="card">
	<div [id]="0" class="card-inner" (click)="onFlip()" [@flipState]="flip">
		<div class="card-face card-face-front">
			<div class="card-body">
				<h2 class="card-title">This is the question</h2>
				<p class="card-text">This is answer A</p>
				<p class="card-text">This is answer A</p>
				<p class="card-text">This is answer A</p>
				<p class="card-text">This is answer A</p>
			</div>
		</div>
		<div class="card-face card-face-back">
			<div class="card-body ">
				<h2 class="card-title">Answer</h2>
				<h2 class="card-text text-center w-100 text-uppercase">This is the answer</h2>
			</div>
		</div>
	</div>
</div>
