/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Quicksand', sans-serif !important;
  /*transition: all ease-in-out 0.5s;*/

}

/* Dark Theme Styles */
.dark-theme {
  color: #ffffff;
  background-color: #121212;
}

.btn-app {
  transition: all ease-in-out 0.3s;
  border: 1px solid #1565FF !important;
  border-radius: 10px !important;
  background: #FFF !important;
}

.btn-app:hover {
  color: white !important;
  background: #1565FF !important;
}

.btn-app:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(148, 62, 255, 0.52) !important;
  box-shadow: 0 0 0 0 rgba(148, 62, 255, 0.52) !important;
}

.btn-app:active {
  color: white !important;
  background: rgba(148, 62, 255, 0.52) !important;
}

.btn-app-reverse {
  transition: all ease-in-out 0.3s;
  color: white !important;
  border-radius: 10px !important;
  background: #1565FF !important;
}

.btn-app-reverse:hover {
  color: black !important;
  border: 1px solid #1565FF !important;
  background: #FFF !important;
}

.btn-app-reverse:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(148, 62, 255, 0.52) !important;
  box-shadow: 0 0 0 0 rgba(148, 62, 255, 0.52) !important;
}

.btn-app-reverse:active {
  color: white !important;
  background: rgba(148, 62, 255, 0.52) !important;
}

.btn-app-warning {
  transition: all ease-in-out 0.3s;
  border: 1px solid #ff1515 !important;
  border-radius: 10px !important;
  background: #FFF !important;
}

.btn-app-warning:hover {
  color: white !important;
  background: #ff1515 !important;
}

.btn-app-warning:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(255, 62, 62, 0.52) !important;
  box-shadow: 0 0 0 0 rgba(255, 43, 43, 0.52) !important;
}

btn-app-warning:active {
  color: white !important;
  background: rgba(255, 43, 43, 0.52) !important;
}

.btn-check:focus + .btn, .btn:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
  box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
}

.btn-close:focus {
  border-color: #1565FF !important;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
  box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
}

.btn-close:active {
  color: white !important;
  background: rgba(148, 62, 255, 0.52) !important;
}

.form-control:focus {
  color: black !important;
  border-color: #1565FF !important;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
  box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
}

.form-select:focus {
  border-color: #1565FF !important;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
  box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
}

.form-check-input:focus {
  border-color: #1565FF !important;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
  box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
}

.form-range:focus::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 1px #FFFEFE, 0 0 0 0.25rem #1565FF;
  box-shadow: 0 0 0 1px #FFFEFE, 0 0 0 0.25rem #1565FF;
}

.form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #FFFEFE, 0 0 0 0.25rem #1565FF;
}

a {
  transition: all ease-in-out 0.3s;
  text-decoration: none;
  color: white;
}

a.class-navigation {
  transition: all ease-in-out 0.3s;
  text-decoration: none;
  color: black;
}

.class-current-page {
  color: #1565FF;
}

a.class-navigation:hover {
  text-decoration: underline;
  color: #1565FF;
}

.dropdown-item:hover, .nav-link:hover, .nav-link:focus {
  color: #1565FF !important;
}

app-flashcard-item {
  height: 400px !important;

}

.carousel-inner {
  /*overflow: visible;*/
  height: 450px !important;
  padding-top: 10px;

}

.carousel-item {
  float: left;
  overflow: visible;
  align-content: center;
  align-items: center;
  margin-left: 13%;
}

.carousel-control-prev {
  z-index: 20;
}

.carousel-control-next {
  z-index: 20;
}

.carousel-indicators {
  z-index: 20;

}

div.carousel-indicators > button.ng-star-inserted {
  border-radius: 50px !important;
  background-color: #1565FF !important;
}


.offcanvas {
  width: 70% !important;
  transition: all ease-in-out 0.3s;
}

@media (max-width: 768px) {
  .offcanvas {
    width: 100% !important;
  }
}

.form-check-input:checked {
  border-color: #1565FF !important;
  background-color: #1565FF !important;
}

.container {
  transition: all ease-in-out 0.3s;
}

.row {
  transition: all ease-in-out 0.3s;
}

.btn-answer {
  overflow: hidden !important;
  flex-shrink: 0 !important;
  min-height: 60px !important;
  border: 2px solid rgba(199, 199, 199, 0.50) !important;
  border-radius: 10px !important;
  background: #FFF !important;
}

.btn-answer:hover {
  overflow: hidden !important;
  flex-shrink: 0 !important;
  min-height: 60px !important;
  border: 2px solid black !important;
  border-radius: 10px !important;
  background: #FFF !important;

}

.btn-answer:active {
  overflow: hidden !important;
  flex-shrink: 0 !important;
  min-height: 60px !important;
  border: 2px solid #4255FF !important;
  border-radius: 10px !important;
  background: #EDEFFF !important;
}

.btn-answer:focus {
  box-shadow: none !important;
}


html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}
