/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Quicksand-Regular', sans-serif !important;
}

.btn-app {
  background: #FFF !important;
  border: 1px solid #1565FF !important;
  border-radius: 10px !important;
  transition-duration: 0.3s !important;
}

.btn-app:hover {
  background: #1565FF !important;
  color: white !important;
}

.btn-app:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(148, 62, 255, 0.52) !important;
  box-shadow: 0 0 0 0 rgba(148, 62, 255, 0.52) !important;
}

.btn-app-warning {
  background: #FFF !important;
  border: 1px solid #ff1515 !important;
  border-radius: 10px !important;
  transition-duration: 0.3s !important;
}

.btn-app-warning:hover {
  background: #ff1515 !important;
  color: white !important;
}

.btn-app-warning:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(255, 62, 62, 0.52) !important;
  box-shadow: 0 0 0 0 rgba(255, 43, 43, 0.52) !important;
}

.btn-check:focus + .btn, .btn:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
  box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
}

.form-control:focus {
  border-color: #1565FF !important;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
  box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
  color: black !important;
}

.form-select:focus {
  border-color: #1565FF !important;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
  box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
}

.form-check-input:focus {
  border-color: #1565FF !important;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
  box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
}

.btn-close:focus {
  border-color: #1565FF !important;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
  box-shadow: 0 0 0 0.25rem rgba(148, 62, 255, 0.52) !important;
}

.form-range:focus::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 1px #FFFEFE, 0 0 0 0.25rem #1565FF;
  box-shadow: 0 0 0 1px #FFFEFE, 0 0 0 0.25rem #1565FF;
}

.form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #FFFEFE, 0 0 0 0.25rem #1565FF;
}

a {
  color: white;
  text-decoration: none;
}

.dropdown-item:hover, .nav-link:hover, .nav-link:focus {
  color: #1565FF !important;
}

app-flashcard-item {
  height: 400px !important;

}

.carousel-inner {
  /*overflow: visible;*/
  height: 450px !important;
  padding-top: 10px;

}

.carousel-item {
  align-content: center;
  align-items: center;
  float: left;
  margin-left: 10vw;
  overflow: visible;
}

.carousel-control-prev {
  z-index: 20;
}

.carousel-control-next {
  z-index: 20;
}

.carousel-indicators {
  z-index: 20;
}

.offcanvas {
  width: 750px !important;
}

@media (max-width: 768px) {
  .offcanvas {
    width: 100% !important;
  }
}



