.single-question {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: fit-content;
  border: 2px solid #DDD;
  border-radius: 5px;
  background: #FFF;
}

/*@media (max-width: 1199px) {*/
/*  .single-question {*/
/*    width: 450px;*/
/*  }*/
/*}*/

/*@media (min-width: 1540px) {*/
/*  .single-question {*/
/*    width: 575px;*/
/*  }*/
/*}*/

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
  left bottom,
  left top,
  color-stop(0.44, #1565FF),
  color-stop(0.72, #1565FF),
  color-stop(0.86, #0055f6));
}

.btn-add-this-question {
  font-size: .75rem;
  font-weight: 600;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.75rem;
  letter-spacing: 0;
}

.add-question-animation {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #1565FF !important;
}
